{% extends 'layout.html.twig' %}

{% block content %}
    <div style="margin-top: 60px;">
        <h1>Liste des séries :</h1>
        {% for serie in series %}
            <h3><a href="{{ path('serie_view', {'id': serie.id}) }}">{{ serie.titre }}</a></h3>
            <hr>
        {% endfor %}
    </div>
{% endblock %}