{% extends 'layout.html.twig' %}

{% block content %}
    <main class="container-fluid">
        <div class="row text-left">
            <h2>Ajouts récents</h2>
        </div>
        <div class="row">
            {% for film in films %}
                <div class="col-md-2 list-film" style="text-align: center;">
                    <img src="{{ path("film_image", {"id":film.id}) }}" alt="">
                    <h2 style="margin-top: 0"><a style="text-decoration: none;
                    border-radius: 3px;
                    color:darkslateblue;
                    font-size: 12pt;" href="{{ path('film_view', {'id': film.id}) }}"> {{ film.titre }} </a></h2>
                    <a href="{{ path('ajout_list', {"id":film.id}) }}"><button class="btn" style="background-color: #EE2B47; color: white;"> Ajouter à ma liste</button></a>
                </div>
            {% endfor %}
        </div>
        <hr>
    </main>
{% endblock %}
