{% extends 'layout.html.twig' %}

{% block content %}
    <div style="margin-top: 60px;">
        {{ form(form) }}
    </div>
    {% for film in films %}
        {{ film.titre }}
    {% endfor %}
{% endblock %}